= simple_form_for(@question) do |f|
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell--span-7
      .mdc-card
        .crm-card--header
          .mdc-typography--headline6 Асуулт
          - unless @question.new_record?
            .mdc-button.mdc-button--raised data-mdc-auto-init='ripple'
              i.mdc-button__icon.material-icons person_add
              .mdc-button__label = @question.user.name
        .crm-card--content
          =f.error_notification

          .crm-form--row
            =f.input :category_id, icon: :category, collection: Category.active, as: :enhanced_select
          .crm-form--row
            =f.rich_text_area :title
          .crm-form--row
            =f.input :source, icon: :zoom_in
          .crm-form--row
            =f.input :status, icon: :check, collection: Question.statuses.map(&:first), as: :enhanced_select, disabled: true
      .mdc-card.mt2
        .crm-card--header
          .mdc-typography--headline6 Хариултууд
        .mdc-list.mdc-list--two-line.pa0
          =f.fields_for :choices do |b|
            .mdc-list-item
              =b.input :title, icon: 'check_circle', input_html: {class: 'w-420'}
              .mdc-list-item__meta
                =b.label :correct, class: 'mr3'
                =b.input :correct
              .mdc-list-item__meta
                =b.label :_destroy, 'Устгах', class: 'mr2'
                =b.input :_destroy, as: :boolean
            .mdc-list-divider
        .crm-card--footer
          = f.button :submit, 'Хадгалах'
          = link_to :back, class: 'mdc-button ml3', data: {'mdc-auto-init' => 'ripple'} do
            i.material-icons.mdc-button__icon arrow_back
            .mdc-button__label Буцах

    .mdc-layout-grid__cell--span-5
      .mdc-card.h100
        .crm-card--header
          =f.label :multiple, class: 'mdc-typography--headline6 tu'
          =f.input :multiple
        .crm-card--content.h100.scrollable
          .scrollable-content
            = f.collection_check_boxes :position_ids, Hr::Position.active.order(emp_count: :desc, name: :asc), :id, :title, include_hidden: false do |cb|
              .mdc-form-field.w-100
                .mdc-checkbox
                  = cb.check_box class: 'mdc-checkbox__native-control'
                  .mdc-checkbox__background
                    svg.mdc-checkbox__checkmark viewBox='0 0 24 24'
                      path.mdc-checkbox__checkmark-path fill='none' d='M1.73,12.91 8.1,19.28 22.79,4.59'
                    .mdc-checkbox__mixedmark
                = cb.label

