- content_for :page_title
  i.material-icons.pr2 help
  .mdc-typography--headline6 Асуултын нэгтгэл
.crm-page__main.mdc-layout-grid
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell--span-12
      .mdc-card
        .mdc-data-table
          table.mdc-data-table__table.overflow-hidden 
            thead
              tr.mdc-data-table__header-row
                th.w-200.mdc-data-table__header-cell.b-r1 Албан тушаал
                - @categories.each do |category|
                  th.mdc-data-table__header-cell.rotated.bb1
                    div
                      span=category.name
            tbody.mdc-data-table__content
              - @positions.each do |pos|
                tr.mdc-data-table__row style='height: 28px;'
                  td.mdc-data-table__cell.b-r1
                    .mdc-typography--caption=pos.title
                  - @categories.each do |category|
                    td.b-r1.mdc-data-table__cell.tc
                      .mdc-typography--caption=category.position_questions(pos).size
