- content_for :page_title
  i.material-icons.pr2 help
  .mdc-typography--headline6 Асуултууд
.crm-page__main.mdc-layout-grid
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell--span-9
      .mdc-card
        .mdc-data-table
          table.mdc-data-table__table
            thead
              tr.mdc-data-table__header-row
                th.mdc-data-table__header-cell #
                th.mdc-data-table__header-cell Төрөл
                th.mdc-data-table__header-cell Асуулт
                th.mdc-data-table__header-cell Зохиосон
                th.mdc-data-table__header-cell Сонгогдсон
                th.mdc-data-table__header-cell Зөв хариулт
                th.mdc-data-table__header-cell
                
            tbody.mdc-data-table__content
              - @questions.each do |question|
                tr.mdc-data-table__row
                  td.mdc-data-table__cell = link_to question.id, question, class: 'text-primary'
                  td.mdc-data-table__cell = question.category.title
                  td.mdc-data-table__cell = truncate(strip_tags(question.title.to_s), length: 50)
                  td.mdc-data-table__cell = question.user.name
                  td.mdc-data-table__cell = question.answers.count
                  td.mdc-data-table__cell = question.answers.where(correct: true).count
                  td.mdc-data-table__cell.pa0
                    = link_to 'edit', edit_question_path(question), class: 'mdc-icon-button material-icons', data: {'tippy-content': 'Засварлах'}
                    = link_to 'clear', question, data: { confirm: 'Мэдээллийг үнэхээр устгах уу?' }, method: :delete, class: 'mdc-icon-button material-icons'
          ==render partial: 'kaminari/pagination', locals: {list: @questions}
    .mdc-layout-grid__cell--span-3
      .mdc-card
        .crm-card--header
          .mdc-typography--headline6 Хайлт
        .crm-card--content
           =simple_form_for(@filter, as: :search, url: questions_path, method: :get) do |f|
            .crm-form--row
              =f.input :title, icon: :edit
            .crm-form--row
              =f.input :category, icon: :filter_list, collection: Category.all, as: :enhanced_select
            .crm-form--row
              =f.input :status, collection: Question.statuses.map(&:first)
            .crm-form--row
              =f.input :user, icon: :person_add, collection: User.where(id: Question.group(:user_id).pluck(:user_id)), disabled: !current_user.admin? 
            .crm-form--row
              =f.input :position, icon: :group, collection: Hr::Position.all.map {|p| [p.title, p.id]} 
            .crm-form-field.mt2.flex.justify-between.items-center
              =f.label :multiple, class: 'mdc-typography--button'
              =f.input :multiple, as: :boolean
            .mt3.flex.justify-between
            
              button.mdc-button.mdc-button--raised type='submit'
                i.material-icons.mdc-button__icon search
                .mdc-button__label Хайх
      a.mdc-button.mdc-button--outlined.mt3.w-100 href=dashboard_questions_path data-mdc-auto-init='ripple'
        i.material-icons.mdc-button__icon menu_open
        .mdc-button__label Нэгтгэл харах
  a.mdc-fab.mdc-fab--fixed href=new_question_path data-tippy-content='Асуулт нэмэх'
    .mdc-fab__icon.material-icons add
