- content_for :page_title
  .mdc-typography--headline6
    | Асуулт #
    =@question.id
.crm-page__main.mdc-layout-grid
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell--span-9
      .mdc-card
        .mdc-typography--body1.pa3
          ==@question.title
        ul.mdc-list.pa0 role='radiogroup'
          - @question.choices.each_with_index do |choice, idx|
            .mdc-list-divider
            li.mdc-list-item role='radio' data-mdc-auto-init='ripple'
              span.mdc-list-item__graphic
                span.ml4 =%w[A B C D].fetch(idx)
                .mdc-radio
                  input.mdc-radio__native-control type='radio'
                  .mdc-radio__background
                    .mdc-radio__outer-circle
                    .mdc-radio__inner-circle
              label.mdc-list-item__text.word-wrap for="answer_choice_id_#{choice.id}"
                =choice.title
      .flex.justify-around.mt4
        a.mdc-button.mdc-button--raised href=new_question_path data-mdc-auto-init='ripple'
          i.material-icons.mdc-button__icon add
          .mdc-button__label Шинэ асуулт
        a.mdc-button.mdc-button--raised href=edit_question_path(@question) data-mdc-auto-init='ripple'
          i.material-icons.mdc-button__icon edit
          .mdc-button__label Асуултыг засах
      .mdc-card.mt3
        .crm-card--header
          .mdc-typography--headline6.tu Хариулууд
        .mdc-list.mdc-list--two-line
          -@question.answers.each do |answer|
            .mdc-list-item
              i.mdc-list-item__graphic.material-icons class=(answer.correct ? 'text-success' : 'text-danger')
                =(answer.correct ? 'check' : 'clear')
              .mdc-list-item__text
                .mdc-list-item__primary-text=answer.user.name
                .mdc-list-item__secondary-text=answer.choice.title.truncate(150) if answer.choice.present?
              .mdc-list-item__meta=answer.user.employee.position.name
            .mdc-list-divider



    .mdc-layout-grid__cell--span-3
      .mdc-card
        .crm-card--header
          i.material-icons settings
          .mdc-typography--headline6.tu Тохиргоо
        .crm-card--content
          dl.mt16
            dt Бүх хүмүүсээс авах эсэх
            dd=@question.multiple
          .mdc-typography--body1.text-primary Албан тушаал
          .mdc-chip-set
            - @question.positions.each do |pos|
              .mdc-chip data-mdc-auto-init='ripple'
                .mdc-chip__text=pos.title
