- content_for :page_title
  i.material-icons.pr2 format_list_numbered
  .mdc-typography--headline6 Тестийн үр дүн
.crm-page__main.mdc-layout-grid
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell--span-8
      .mdc-card
        .mdc-data-table
          table.mdc-data-table__table
            thead
              tr.mdc-data-table__header-row
                th.mdc-data-table__header-cell #
                th.mdc-data-table__header-cell Ажилтан
                th.mdc-data-table__header-cell Албан тушаал
                th.mdc-data-table__header-cell Зөв хариулт
                th.mdc-data-table__header-cell Оноо
                th.mdc-data-table__header-cell Төлөв
                th
            tbody.mdc-data-table__content
              - @sessions.each_with_index do |session, idx|
                tr.mdc-data-table__row
                  td.mdc-data-table__cell=idx + 1
                  td.mdc-data-table__cell=session.user.name
                  td.mdc-data-table__cell=session.user.employee.position&.name
                  td.mdc-data-table__cell=session.correct
                  td.mdc-data-table__cell=session.percent
                  td.mdc-data-table__cell=session.status
                  td=link_to 'chevron_right', session_path(session), class: 'mdc-icon-button material-icons'
        ==render partial: 'kaminari/pagination', locals: {list: @sessions}
    .mdc-layout-grid__cell--span-4
      .mdc-card
        .crm-card--header
          .mdc-typography--headline6 Хайлт
        .crm-card--content
          =simple_form_for(@filter, as: :search, url: sessions_path, method: :get) do |f|
            .crm-form--row
              =f.input :user, icon: :person_outline
            .crm-form--row
              =f.input :test, icon: :filter_list, collection: Test.all, as: :enhanced_select
            .crm-form--row
              =f.input :position, icon: :group
            .crm-form--row
              =f.input :score, icon: :speed
            .mt3.tr
              button.mdc-button.mdc-button--raised type='submit'
                i.material-icons.mdc-button__icon search
                .mdc-button__label Хайх