- content_for :page_title
  i.material-icons.pr2 play_arrow
  .mdc-typography--headline6=@session.test.name

module data-controller='result'
  .crm-page__main.mdc-layout-grid
    .mdc-layout-grid__inner
      .mdc-layout-grid__cell--span-9
        .flex.items-center.justify-center.mb3
          .mdc-fab.mdc-fab--extended.mr3 data-tippy-content='Ажилтан'
            i.material-icons.mdc-fab__icon person_outline
            .mdc-fab__label 
              = @session.user.name           
          .mdc-fab.mdc-fab--extended.mr3 data-tippy-content='Зөв хариулсан'
            i.material-icons.mdc-fab__icon done_all
            .mdc-fab__label 
              = "Зөв хариулсан: #{@session.correct}"           
          .mdc-fab.mdc-fab--extended data-tippy-content='Шалгалтын оноо' 
            i.mdc-fab__icon.material-icons bar_chart
            .mdc-fab__label
              ="Нийт оноо: #{@session.percent}"
        - if current_user.moderator? || current_user.admin? || !@session.test.eligible?
          .mdc-card
            .flex.justify-between.bb1.items-center.pa2
              button.mdc-button.mdc-button--raised data-action='click->result#prev' data-mdc-auto-init='ripple'
                i.material-icons.mdc-button__icon arrow_back
                .mdc-button__label Өмнөх асуулт
              .mdc-typography--headline6 data-target='result.status' 1 / 10
              button.mdc-button.mdc-button--raised data-action='click->result#next' data-mdc-auto-init='ripple'
                .mdc-button__label Дараагийн асуулт
                i.material-icons.mdc-button__icon  arrow_forward
            - @session.questions.each do |question|
              .pa0 data-target='result.question'
                .mdc-typography--body1.pa3
                  ==question.title
                - answer = Answer.find_or_initialize_by(user: @session.user, question: question, session: @session)
                = form_for(answer, url: '',  method: :get, remote: true) do |f|
                  .mdc-list.pa0
                    - question.choices.each_with_index do |choice, idx|
                      .mdc-list-divider
                      .mdc-list-item data-mdc-auto-init='ripple'
                        .mdc-list-item__graphic
                          span.ml4 =%w[A B C D].fetch(idx)
                          .mdc-radio
                            =f.radio_button :choice_id, choice.id, class: 'mdc-radio__native-control', disabled: true
                            .mdc-radio__background
                              .mdc-radio__outer-circle
                              .mdc-radio__inner-circle
                        .mdc-list-item__text.word-wrap=choice.title
                        - if choice.correct
                          i.material-icons.mdc-list-item__meta check
      - if current_user.moderator? || current_user.admin? || !@session.test.eligible?
        .mdc-layout-grid__cell--span-3
          .mdc-card
            .crm-card--header
              .mdc-typography--headline6 Асуултууд
            .h-main.scrollable
              .mdc-list.pa0.scrollable-content.w-100
                - @session.questions.each_with_index do |question, i|
                  a.mdc-list-item data-target='result.marker' data-mdc-auto-init='ripple' data-action='click->result#select' data-index=i href='javascript:void(0)'
                    - if @session.answers.where(correct: true, question: question).first
                      i.mdc-list-item__graphic.material-icons.text-success data-tippy-content='Зөв харилусан' check
                    - else
                      i.mdc-list-item__graphic.material-icons.text-danger data-tippy-content='Буруу хариулсан' clear
                    .mdc-list-item__text.mdc-typography--headline6.f6
                      | Асуулт  
                      = i + 1
                  .mdc-list-divider
                
                


