- content_for :page_title
  i.material-icons.pr2 fingerprint
  .mdc-typography--headline6 Системд нэвтрэх
.crm-page__main.mdc-layout-grid
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell--span-4
      .mdc-card
        .crm-card--header
          .mdc-typography--caption.justify-end
            | Та өөрийн 
            fw4.pr1 MyCapitron
            | системийн нууц үгээр орно уу.
        .crm-card--content
          = simple_form_for(resource, as: resource_name, url: user_session_path) do |f|
            .crm-form--row
              = f.input :email, as: :string, icon: 'email', input_html: {autocomplete: 'off'}
              = f.error_message_for :email
            .crm-form--row
              = f.input :password, icon: 'vpn_key'
              = f.error_message_for :password
            .crm-form--row
              button.mdc-button.mdc-button--raised type='submit' data-mdc-auto-init='ripple'
                i.material-icons.mdc-button__icon fingerprint
                | Нэвтрэх            