.mdc-snackbar#crm-flash-snackbar class="crm-snackbar--#{type}"
  .mdc-snackbar__surface role='status' aria-live='polite'
    .mdc-snackbar__label
      = text
    .mdc-snackbar__actions
      button.mdc-icon-button.mdc-snackbar__dismiss.material-icons close