header.mdc-top-app-bar.mdc-top-app-bar--fixed.mdc-elevation--z4
 .mdc-top-app-bar__row
    section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-start.crm-brand
      .mdc-top-app-bar__title.flex.items-center.justify-center
        i.material-icons.f1 speed
        span CapitronEXAM
    section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-start
      .pl3.tu.flex.items-center
        =yield :page_title
    - if user_signed_in?
      section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-end
        i.material-icons.pr2 person_outline
        .flex.flex-column.pr3
          .tu=current_user.name
          .tu.f7=current_user.employee.position.name
        =link_to 'power_settings_new', destroy_user_session_path, class: 'mdc-icon-button material-icons mdc-top-app-bar__action-item', data: {'tippy-content' => 'Системээс гарах'}, method: :delete
.mdc-top-app-bar--fixed-adjust