.mdc-list.crm-menu-items.pt3
  a.mdc-list-item href='/' data-mdc-auto-init='ripple' class=(current_menu == 'tests' ? 'mdc-list-item--selected' : '')
    i.material-icons.mdc-list-item__graphic dashboard
    | Шалгалт
  - if can? :read, Question
    a.mdc-list-item href=questions_path data-mdc-auto-init='ripple' class=(current_menu == 'questions' ? 'mdc-list-item--selected' : '')
      i.material-icons.mdc-list-item__graphic help
      | Асуултууд
    a.mdc-list-item href=categories_path data-mdc-auto-init='ripple' class=(current_menu == 'categories' ? 'mdc-list-item--selected' : '')
      i.material-icons.mdc-list-item__graphic filter_list
      | Асуултын төрөл
  - if can? :manage, Session
    a.mdc-list-item href=sessions_path data-mdc-auto-init='ripple' class=(current_menu == 'sessions' ? 'mdc-list-item--selected' : '')
      i.material-icons.mdc-list-item__graphic check
      | Үр дүн
