/ Link to the "First" page
  - available local variables
    url          : url to the first page
    current_page : a page object for the currently displayed page
    total_pages  : total number of pages
    per_page     : number of items to fetch per page
    remote       : data-remote
- if current_page.first?
  i.material-icons.disabled first_page
- else
  = link_to url, remote: remote, title: 'First' do
    i.material-icons first_page