/ Link to the "Last" page
  - available local variables
    url          : url to the last page
    current_page : a page object for the currently displayed page
    total_pages  : total number of pages
    per_page     : number of items to fetch per page
    remote       : data-remote
- if current_page.last?
  i.material-icons.disabled last_page
- else
  = link_to url, :remote => remote, :title => 'Last' do
    i.material-icons last_page
