.pagination
  .pagination__meta
    | Хуудас:  
    = list.current_page
  .pagination__meta
    | Нэг хуудсанд:  
    = list.current_per_page
  .pagination__meta
    ==pagination_range list
  ==paginate list