/ The container tag
  - available local variables
    current_page : a page object for the currently displayed page
    total_pages  : total number of pages
    per_page     : number of items to fetch per page
    remote       : data-remote
    paginator    : the paginator that renders the pagination tags inside

== paginator.render do
  .pagination__nav== first_page_tag
  .pagination__nav== prev_page_tag
  .pagination__nav== next_page_tag
  .pagination__nav== last_page_tag