/ Link to the "Previous" page
  - available local variables
    url          : url to the previous page
    current_page : a page object for the currently displayed page
    total_pages  : total number of pages
    per_page     : number of items to fetch per page
    remote       : data-remote
- if current_page.first?
  i.material-icons.disabled chevron_left
- else
  = link_to url, :rel => 'prev', :remote => remote, :title => 'Prev' do
    i.material-icons chevron_left

