@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,600&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');

$mdc-typography-font-family: "Roboto Condensed", calibri, ubuntu, sans-serif;
$mdc-theme-primary: #344955;
$mdc-theme-secondary: #f9aa33;
$mdc-theme-success: #35AC19;
$mdc-theme-on-secondary: #344955;



@import "@material/typography/mdc-typography";
@import "@material/theme/mdc-theme";
@import "@material/theme/mixins";
@import "@material/elevation/mdc-elevation";
@import "@material/top-app-bar/mdc-top-app-bar";
@import '@material/ripple/mdc-ripple';
@import '@material/button/mdc-button';
@import "@material/icon-button/mdc-icon-button";
@import "@material/fab/mdc-fab";
@import '@material/drawer/mdc-drawer';
@import '@material/list/mdc-list';
@import '@material/menu/mdc-menu';
@import '@material/menu-surface/mdc-menu-surface';

@import '@material/layout-grid/mdc-layout-grid';
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/card/mdc-card";
@import "@material/linear-progress/mdc-linear-progress";
@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";
@import "@material/switch/mdc-switch";
@import "@material/radio/mdc-radio";
@import "@material/textfield/mdc-text-field";
@import "@material/textfield/helper-text/mdc-text-field-helper-text";
@import "@material/textfield/icon/mdc-text-field-icon";
@import "@material/select/mdc-select";
@import "@material/snackbar/mdc-snackbar";
@import "@material/dialog/mdc-dialog";
@import "@material/chips/mdc-chips";
@import "@material/image-list/mdc-image-list";
@import "@material/slider/mdc-slider";
@import "@material/data-table/mdc-data-table";
@import 'actiontext';
@import "tippy.js/dist/tippy";
@import "tippy.js/animations/scale";
@import 'sweetalert2/src/sweetalert2.scss';
@import "flatpickr/dist/flatpickr";



@import 'util';
@import 'custom';
