$crm-menu-width: 246px;

body{
  margin: 0;
}

.crm-content {
  display: flex;
  flex: 1 1 auto;
  min-height: calc(100vh - 64px);
  box-sizing: border-box;
  width: 100%;
  .crm-main{
    margin-left: $crm-menu-width;
    width: 100%;
    background: #f8f8f8;
  }
}

.crm-page__head {
  position: fixed;
  z-index: 2;
  height: 60px;
  padding: 0 9px;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #fff;
  width: 100%;
}

.crm-menu{
  width: $crm-menu-width;
  display: flex;
  position: fixed;
  z-index: 1;
  border: none;
  overflow: auto
}

.mdc-top-app-bar{
  .crm-brand{
    .mdc-top-app-bar__title{
      color: $mdc-theme-on-secondary;
      padding: 0px;
      font-size: 1.8rem;
    }
    width: $crm-menu-width - 23px;
    display: inline-block;
    flex: none;
    line-height: 60px;
    background: $mdc-theme-secondary;
  }
}

.pagination{
  height: 64px;
  padding: 0 16px;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  .pagination__meta{
    font-size: 13px;
    box-sizing: border-box;
    display: flex;
    vertical-align: middle;
    align-items: center;
    color: #666;
    margin-left: 30px;  
  }
  a, a:visited{
    color: $mdc-theme-primary;
    text-decoration: none;
  }
  .pagination__nav{
    margin-left: 10px;
  }
  .disabled{
    color: #666;
  }
}

.mdc-data-table{
  .mdc-icon-button{
    @include mdc-icon-button-size(20px, 20px);
    @include mdc-icon-button-ink-color($mdc-theme-primary);
  }
  thead{
    @include mdc-data-table-header-row-text-color($mdc-theme-primary);
    th.rotated{
      height: 140px;
      white-space: nowrap;
      // Firefox needs the extra DIV for some reason, otherwise the text disappears if you rotate
      > div {
        transform:
          // Magic Numbers
          translate(25px, 51px)
          // 45 is really 360-45
          rotate(315deg);
        width: 16px;
      }
      > div > span {
        border-bottom: 1px solid $mdc-theme-primary;
        padding: 5px 4px;
      }
    }
  }

}

.mdc-card{
  .crm-card--header{
    padding: 0px 16px;
    color: $mdc-theme-on-primary;
    background: $mdc-theme-primary;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 4px 4px 0px 0px;
  }
  
  .crm-form--errors {
    padding: 4px 14px;
    background-color: $mdc-theme-error;
    color: $mdc-theme-on-error;
    border-radius: 3px;
    margin-top: var(--spacing-small);
  }
  .crm-card--content{
    padding: 0 16px;
    margin-bottom : 8px;
  }

  .crm-card--footer{ 
    background: rgba(0,0,0,0.12);
    padding: 8px 16px;
  }

  .crm-form--row{
    padding-top: 24px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
  }
  a {
    text-decoration: none;
  }

  &.test-card{
    a.start-button{
      color: $mdc-theme-secondary;
      &:hover{
        color: $mdc-theme-primary;
      }
      font-size: 6em;
    }
  }
}
.scrollable{
  position: relative;
  overflow: auto;
  .scrollable-content{
    position: absolute;
    height: 100%;
  }
}

.mdc-fab{
  &.mdc-fab--fixed{
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
  }
}

.tippy-popper{
  .tippy-content{
    font-family: $mdc-typography-font-family;
    font-size: 13px;
  }
}

dl{
  margin: 0 0 16px;
  font-size: 14px;
  dt{
    color: $mdc-theme-primary;
  }
  dd{
    margin: 0 0 16px;
  } 
}
