.word-wrap {
  white-space: normal !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
}
.overflow-hidden {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.overflow-shown {
  overflow: visible !important;
}
.fixed { position: fixed; }
.hidden { display: none !important; }
.block { display: block; }
.inline-block {display: inline-block;}
// FLEXBOX
.flex { display: flex; position: relative;}
.inline-flex { display: inline-flex; }

.flex-column  { flex-direction: column; }
.flex-row     { flex-direction: row; }
.flex-wrap { flex-wrap: wrap; }

.items-start    { align-items: flex-start  }
.items-end      { align-items: flex-end; }
.items-center   { align-items: center; }
.items-baseline { align-items: baseline; }
.items-stretch  { align-items: stretch; }

.justify-start   { justify-content: flex-start;}
.justify-end     { justify-content: flex-end; }
.justify-center  { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around  { justify-content: space-around; }

.align-between  { align-content: space-between; }

.flex-center{
  align-self: center;
}

.flex-grow   { flex-grow: 1; }

// SPACING
:root {
  --spacing-none: 0;
  --spacing-extra-small: 4px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --spacing-extra-large: 32px;
}
.pa0 { padding: var(--spacing-none); }
.pa1 { padding: var(--spacing-extra-small); }
.pa2 { padding: var(--spacing-small); }
.pa3 { padding: var(--spacing-medium); }
.pa4 { padding: var(--spacing-large); }
.pa5 { padding: var(--spacing-extra-large); }

.pl0 { padding-left: var(--spacing-none); }
.pl1 { padding-left: var(--spacing-extra-small); }
.pl2 { padding-left: var(--spacing-small); }
.pl3 { padding-left: var(--spacing-medium); }
.pl4 { padding-left: var(--spacing-large); }
.pl5 { padding-left: var(--spacing-extra-large); }

.pr0 { padding-right: var(--spacing-none); }
.pr1 { padding-right: var(--spacing-extra-small); }
.pr2 { padding-right: var(--spacing-small); }
.pr3 { padding-right: var(--spacing-medium); }
.pr4 { padding-right: var(--spacing-large); }
.pr5 { padding-right: var(--spacing-extra-large); }

.pb0 { padding-bottom: var(--spacing-none); }
.pb1 { padding-bottom: var(--spacing-extra-small); }
.pb2 { padding-bottom: var(--spacing-small); }
.pb3 { padding-bottom: var(--spacing-medium); }
.pb4 { padding-bottom: var(--spacing-large); }
.pb5 { padding-bottom: var(--spacing-extra-large); }

.pt0 { padding-top: var(--spacing-none); }
.pt1 { padding-top: var(--spacing-extra-small); }
.pt2 { padding-top: var(--spacing-small); }
.pt3 { padding-top: var(--spacing-medium); }
.pt4 { padding-top: var(--spacing-large); }
.pt5 { padding-top: var(--spacing-extra-large); }

.ml0 {  margin-left: var(--spacing-none); }
.ml1 {  margin-left: var(--spacing-extra-small); }
.ml2 {  margin-left: var(--spacing-small); }
.ml3 {  margin-left: var(--spacing-medium); }
.ml4 {  margin-left: var(--spacing-large); }
.ml5 {  margin-left: var(--spacing-extra-large); }

.mr0 {  margin-right: var(--spacing-none); }
.mr1 {  margin-right: var(--spacing-extra-small); }
.mr2 {  margin-right: var(--spacing-small); }
.mr3 {  margin-right: var(--spacing-medium) !important;}
.mr4 {  margin-right: var(--spacing-large); }
.mr5 {  margin-right: var(--spacing-extra-large); }

.mb0 {  margin-bottom: var(--spacing-none); }
.mb1 {  margin-bottom: var(--spacing-extra-small); }
.mb2 {  margin-bottom: var(--spacing-small); }
.mb3 {  margin-bottom: var(--spacing-medium) !important; }
.mb4 {  margin-bottom: var(--spacing-large); }
.mb5 {  margin-bottom: var(--spacing-extra-large); }

.mt0 {  margin-top: var(--spacing-none); }
.mt1 {  margin-top: var(--spacing-extra-small); }
.mt2 {  margin-top: var(--spacing-small); }
.mt3 {  margin-top: var(--spacing-medium); }
.mt4 {  margin-top: var(--spacing-large); }
.mt5 {  margin-top: var(--spacing-extra-large); }

// depreciated margins. use above
.mt32 { margin-top: 32px; }
.mt16 { margin-top: 16px; }
.mt8 { margin-top: 8px; }
.mb8 { margin-bottom: 8px; }
.mb16 { margin-bottom: 16px; }
.mr16 { margin-right: 16px; }
.mr10  { margin-right: 10px; }
.mr32 { margin-right: 32px; }
.ml16 { margin-left: 16px; }

// FONT SIZE
.f1 { font-size: 3rem; }
.f2 { font-size: 2.25rem; }
.f3 { font-size: 1.5rem; }
.f4 { font-size: 1.25rem; }
.f5 { font-size: 1rem; }
.f6 { font-size: .875rem; }
.f7 { font-size: .75rem; }

// FONT WEIGHT
.fw3    { font-weight: 300; }
.fw4    { font-weight: 400; }
.fw5    { font-weight: 500; }
.fw6    { font-weight: 500; }

// TEXT ALIGN
.tl  { text-align: left !important; }
.tr  { text-align: right !important; }
.tc  { text-align: center !important; }
.tj  { text-align: justify; }
.tu  { text-transform: uppercase;}
// WHITE SPACE
.nowrap { white-space: nowrap; }
// BORDER
.br1 { border-radius: .125rem; }
.br50{ border-radius: 50%; }
.bb1{ border-bottom: 1px solid rgba(0,0,0,0.1); }
.bt1{ border-top: 1px solid rgba(0,0,0,0.1); }
.bl1 { border-left: 1px solid rgba(0,0,0,0.1); }
.bl3 { border-left: 3px solid $mdc-theme-primary; }
.b-r1{  border-right: 1px solid rgba(0,0,0,0.1);}


// WIDTH
.w-25 {  width:  25%; }
.w-24 {  width:  24%; }
.w-30 {  width:  30%; }
.w-33 {  width:  33%; }
.w-32 {  width:  32%; }
.w-34 {  width:  34%; }
.w-49 {  width: 49%; }
.w-50 {  width:  50%; }
.w-60 {  width:  60%; }
.w-100 {  width:  100%; }
.w-640 { width: 640px !important; }
.w-260 { width: 260px !important; }
.w-200 { width: 200px !important; }
.w-420 { width: 420px !important; }
 
// HEIGHT
.h-100 {height: 100px;}
.h-200 {height: 200px;}
.h-300 {height: 300px;}
.h-400 {height: 400px;}
.h-500 {height: 500px;}
.h-370 {height: 370px;}
.h-309 {height: 309px;}
.h-full{height: 100vh;}
.h100  {height: 100%; }
.h-main{height: calc(100vh - 160px);}


.mw-100{ min-width: 100px !important; }
.mw-140{ min-width: 140px !important; }
.mw-280{ min-width: 280px !important; }
.mw-230{ min-width: 230px !important; }
.mw-250{ min-width: 250px !important; }


// custom
.w32 {
  width: 32px;
}
.w48 {
  width: 48px;
}
.h72{
  height: 72px;
  width: 72px;
}
// flex align middle
.flex-middle {
  height: 64px;
  padding: 0 8px;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.flex-middle-slim {
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.flex-middle-spaced {
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.flex-top-spaced {
  vertical-align: top;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
}

.rotate-90 {
  transform: rotate(90deg);
  display: inline-block;
  color: #333;
}
.hide{ 
  display: none;
}

/*Horizantal overflow fix*/
.crm-form--row {
  overflow: hidden;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.sb{
  justify-content: space-between !important;
}
.text-muted { color: #666; }
.text-primary { color: $mdc-theme-primary; }
.text-secondary {color: $mdc-theme-secondary; }
.text-danger {color: $mdc-theme-error; }
.text-success { color: $mdc-theme-success; }


