= simple_form_for(@category) do |f|
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell--span-6
      .mdc-card
        .crm-card--content
          = f.error_notification
          .crm-form--row
            =f.input :title, icon: :edit
          .crm-form--row
            =f.input :score, icon: :mood
          .crm-form--row
            =f.input :status, icon: :check, collection: Category.statuses.map(&:first)
        .crm-card--footer
          = f.button :submit
