- content_for :page_title
  i.material-icons.pr2 filter_list
  .mdc-typography--headline6 Асуултын төрөл
.crm-page__main.mdc-layout-grid
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell--span-9
      .mdc-card
        .mdc-data-table
          table.mdc-data-table__table
            tr.mdc-data-table__header-row
              th.mdc-data-table__header-cell #
              th.mdc-data-table__header-cell Төрөл
              th.mdc-data-table__header-cell Оноо
              th.mdc-data-table__header-cell Асуулт
              th.mdc-data-table__header-cell Төлөв
              th.mdc-data-table__header-cell
            tbody.mdc-data-table__content
              - @categories.each do |category|
                tr.mdc-data-table__row
                  td.mdc-data-table__cell = category.id
                  td.mdc-data-table__cell = category.title
                  td.mdc-data-table__cell = category.score
                  td.mdc-data-table__cell = category.questions.count
                  td.mdc-data-table__cell = category.status
                  td.mdc-data-table__cell.pa0
                    = link_to 'edit', edit_category_path(category), class: 'mdc-icon-button material-icons', data: {'tippy-content': 'Засварлах'}
                    = link_to 'clear', category, data: { confirm: 'Мэдээллийг үнэхээр устгах уу?' }, method: :delete, class: 'mdc-icon-button material-icons'
  = link_to new_category_path, class: 'mdc-fab mdc-fab--fixed'
    i.material-icons.mdc-fab__icon add
