-content_for :page_title
  i.material-icons.pr3 filter_list
  .mdc-typography--headline6=@category.title
.crm-page__main.mdc-layout-grid
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell--span-3
      .mdc-card
        .crm-card--content
          dl
            dt Оноо
            dd =@category.score
            dt Төлөв
            dd =@category.status
  .mdc-layout-grid__cell--span-3
    .mdc-card
      
