= simple_form_for(@test) do |f|
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--span-8
      .mdc-card
        .crm-card--content
          = f.error_notification
          = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
          .crm-form--row
            =f.input :name, icon: :edit
          .crm-form--row
            =f.input :start_date, as: :string, icon: :date_range, input_html: { class: 'flatpickr' }
          .crm-form--row
            =f.input :end_date, as: :string, icon: :date_range, input_html: { class: 'flatpickr' }
          .crm-form--row
            =f.input :duration, as: :string, icon: :speed
          .crm-form--row
            =f.input :status, icon: :check, collection: Test.statuses.map(&:first)
      .mdc-card.mt16
        .crm-card--header 
          .mdc-typography--headline6 Асуултын бүтэц
        .mdc-list.mdc-list--two-line
          =f.fields_for :test_categories do |b|
            .mdc-list-item
              =b.input :category_id, collection: Category.active, readonly: true
              .mdc-list-item__meta
                =b.input :question_count, icon: :bar_chart
              .mdc-list-item__meta
                =b.label :_destroy, 'Устгах', class: 'mr2'
                =b.input :_destroy, as: :boolean
            .mdc-list-divider
        .crm-card--footer
          = f.button :submit, 'Хадгалах'
