- content_for :page_title
  i.material-icons.pr2 layers
  .mdc-typography--headline6 Шалгалтууд
.crm-page__main.mdc-layout-grid
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell--span-7
      - @tests.each do |test|
        .mdc-card.test-card.mb3
          .crm-card--header
            .mdc-typography--headline6=test.name
            - if current_user.admin?
              a.mdc-icon-button.material-icons href=edit_test_path(test) edit
          .mdc-card__primary-action data-mdc-auto-init='ripple'
            .crm-card--content.flex
              .w-640.pr3.flex.flex-column.justify-around
                .flex.justify-between.mdc-typography--headline6.fw5.f6.pt2.pb2
                  .flex.items-center
                    i.material-icons.f5.pr1 alarm
                    =test.start_date.strftime('%Y-%m-%d %H:%M')
                  .flex.items-center
                    i.material-icons.f5.pr1 alarm_off
                    =test.end_date.strftime('%Y-%m-%d %H:%M')
                  a.flex.items-center.mdc-theme--secondary href=sessions_path(test)
                    i.material-icons.f4.pr1 group
                    =test.sessions.count
                .flex.justify-between.mdc-typography--headline6.fw5.f6.pt2.bt1
                  .flex.items-center
                    =['Сэдэв', test.categories.count].join(': ')
                  .flex.items-center
                    =['Хугацаа', "#{test.duration} минут"].join(': ')
                  .flex.items-center
                    =['Асуулт', test.test_categories.sum(:question_count)].join(': ')     
              .flex.bl1.items-center.mt2.justify-center.flex-grow 
                = link_to 'play_arrow', start_test_path(test), class: 'material-icons start-button', data: { 'tippy-content': 'Шалгалт эхлүүлэх' }
  - if current_user.admin?
    a.mdc-fab.mdc-fab--fixed href=new_test_path
      i.material-icons.mdc-fab__icon add