-content_for :page_title 
  i.material-icons.pr2 add
  .mdc-typography--headline6 Хэрэглэгчийн нууц үг сэргээх
.crm-page__main.mdc-layout-grid
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell--span-4
      .mdc-card
        =simple_form_for(@user, url: reset_tests_path) do |f|
          .crm-card--content
            .crm-form--row
              =f.input :email, icon: :email
            - if @password.present?
              .mdc-typography--headline6.fw5.mt3.mb3=@password
          .crm-card--footer
            = f.button :submit, 'Нууц үг сэргээх'
