- content_for :page_title
  i.material-icons.pr2 play_arrow
  .mdc-typography--headline6=@test.name

module data-controller='test'
  .crm-page__main.mdc-layout-grid
    .mdc-layout-grid__inner
      .mdc-layout-grid__cell--span-9
        .mdc-card
          .flex.justify-between.items-center.bb1.pa2
            .mdc-typography--headline6 
              span.pr3.tu.pl3 Асуулт:  
              span data-target='test.status' 1 / 10
            a.mdc-fab.mdc-fab--extended href=session_path(@session) data-confirm='Шалгалтыг дуусгахдаа итгэлтэй байна уу?'
              i.mdc-fab__icon.material-icons done_all
              .mdc-fab__label Шалгалтыг дуусгах
          - @session.questions.each do |question|
            .pa0 data-target='test.question'
              .mdc-typography--caption.text-muted.pa3.flex.items-center
                i.material-icons.f5.pr2 loyalty
                span=question.category.name
              .mdc-typography--body1.pa3
                ==question.title
              - answer = Answer.find_or_create_by(user: current_user,  session: @session, question: question)
              = form_for(answer, url: answer_path(answer), remote: true) do |f|
                ul.mdc-list.pa0 role='radiogroup'
                  - question.choices.each_with_index do |choice, idx|
                    .mdc-list-divider
                    li.mdc-list-item role='radio' data-mdc-auto-init='ripple'
                      span.mdc-list-item__graphic
                        span.ml4 =%w[A B C D].fetch(idx)
                        .mdc-radio
                          =f.radio_button :choice_id, choice.id, class: 'mdc-radio__native-control'
                          .mdc-radio__background
                            .mdc-radio__outer-circle
                            .mdc-radio__inner-circle
                      label.mdc-list-item__text.word-wrap for="answer_choice_id_#{choice.id}"
                        =choice.title
        .mt3.flex.justify-center
          button.mdc-button.mdc-button--raised.mr4 data-action='click->test#prev' data-mdc-auto-init='ripple'
            i.material-icons.mdc-button__icon arrow_back
            .mdc-button__label Өмнөх асуулт
          button.mdc-button.mdc-button--raised data-action='click->test#next' data-mdc-auto-init='ripple'
            .mdc-button__label Дараагийн асуулт
            i.material-icons.mdc-button__icon  arrow_forward

      .mdc-layout-grid__cell--span-3
        .mdc-card
          .crm-card--header
            .mdc-button.mdc-button--raised data-tippy-content='Шалгалт дуусах хугацаа'
              i.material-icons.mdc-button__icon av_timer
              .mdc-button__label data-target='test.timer'
                =(@session.ends_at - Time.zone.now).to_i
            .mdc-button.mdc-button--raised data-tippy-content='Хариулсан тоо'
              i.mdc-button__icon.material-icons check
              .mdc-button__label data-target='test.progress'
          .h-main.scrollable
            .mdc-list.pa0.scrollable-content.w-100
              - @session.questions.each_with_index do |question, i|
                a.mdc-list-item data-target='test.marker' data-mdc-auto-init='ripple' data-action='click->test#select' data-index=i href='javascript:void(0)'
                  i.mdc-list-item__graphic.material-icons.mdc-theme--secondary check_box_outline_blank
                  .mdc-list-item__text.mdc-typography--headline6.f6
                    | Асуулт  
                    =i + 1
                .mdc-list-divider
                
                


