doctype html
html
  head
    title CapitronExam
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    meta name="apple-mobile-web-app-capable" content="yes"
    link rel="icon" type="image/x-icon" href=asset_path('favicon.png')
    = csrf_meta_tag
    = stylesheet_link_tag "application"
  body.mdc-typography
    == render partial: 'shared/header'
    .crm-content
      aside.mdc-drawer.mdc-drawer--dismissible.mdc-drawer--open.crm-menu.mdc-elevation--z2
        nav.mdc-drawer__drawer
          nav.mdc-drawer__content
            = render partial: 'shared/sidebar'
      main.crm-main
        = yield
      = flashy
  = javascript_pack_tag 'application'